
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
   
    font-family: 'Manrope';
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;


}
header 
{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #2C3E50;
color: white;
padding: 0px 100px;
border-top: solid crimson 4px;
position: fixed;
width: 100%;




}
header a
{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    transition: ease 1s;

}
header a:hover
{
    color: #1ABC9C;
    font-size: 21px;
    transition: ease 1s;

}
.carsour {
    background-image: url(images/Carsour\ background.png);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    
    height: 100vh;
    display: flex;
    align-items: center;
    
    color: white;
    
}

.carsour div {
        margin-left: 80px


    }
    .carsour a
    {
        text-decoration: none;
        color: white;
        background-color: #1ABC9C;
        padding: 10px;
        border-radius: 10px;
      
        display: inline-block;
        margin-top: 10px;
     

    }



